@page "/checkout"
@inject OrderState OrderState
@inject NavigationManager NavigationManager
@inject HttpClient Client

<div class="main">
    <EditForm Model="OrderState.order.DeliveryAddress" OnValidSubmit="PlaceOrder">
        <div class="checkout-cols">
            <div class="checkout-order-details">
                <h4>Revisar la orden</h4>
                <OrderReview Order="OrderState.order" />
            </div>
            <div>
                <h4>Enviar a:</h4>
                <AddressEditor Address="OrderState.order.DeliveryAddress" />
            </div>
        </div>
        <button type="submit" class="checkout-button btn btn-warning">Aceptar la orden</button>
        <DataAnnotationsValidator />
    </EditForm>

</div>

@code {
    async Task PlaceOrder()
    {

        var response = await Client.PostAsJsonAsync("orders", OrderState.order);
        var NewOrderId = await response.Content.ReadFromJsonAsync<int>();
        OrderState.ResetOrder();
        NavigationManager.NavigateTo($"myorders/{NewOrderId}");
    }
}
