@inherits LayoutComponentBase

<div class="top-bar">
    <img class="logo" src="img/pngaaa.com-4842619.png"/>
    <NavLink href="/" class="nav-tab" >
        <img src="img/pizza.png"/>
        <div>Obtener pizza</div>
    </NavLink>
</div>


<article class="content">
    @Body
</article>
