@inherits LayoutComponentBase

<div class="top-bar">
    <img class="logo" src="img/logo.png"/>
    <NavLink href="/" class="nav-tab" Match="@NavLinkMatch.All">
        <img src="img/pizza.png"/>
        <div>Obtener pizza</div>
    </NavLink>
    <NavLink href="myorders" class="nav-tab" Match="@NavLinkMatch.All">
        <img src="img/bike.png"/>
        <div>Mis órdenes</div>
    </NavLink>
</div>


<article class="content">
    @Body
</article>
